<li class="list-group-item salon-item">
  <div class="menu-link">
    <div class="salon-name">{{name}}</div>

    {{#if location}}
      <div class="salon-meta">{{location}}</div>
    {{/if}}
  </div>
</li>